@media (max-width: 1325px) {
    .about__album {
        max-width: 568px;
    }
    .about__album-item {
        max-width: 550px;
        height: 330px;
    }
    .about__info-title {
        font-size: 38px;
    }
    .about__info {
        font-size: 20px;
        span {
            font-size: 20px;
        }
    }
}
@media (max-width: 1226px) {
    .rules {
        padding: 100px 0;
    }
    .tabs {
        max-width: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .tab__content {
        max-width: none;
    }
    .rules__tabs {
        flex-wrap: wrap;
    }
    .tab__content::before {
        top: 25px;
        left: 15px;
    }
}
@media (max-width: 1170px) {
    .slider__background-title {
        font-size: 40px;
    }
}
@media (max-width: 1100px) {
    .about {
        padding: 50px 0;
    }
    .about__inner {
        flex-wrap: wrap;
    }
    .about__album {
        margin-left: 9px;
        max-width: 898px;
    }
    .about__album-item {
        max-width: 889px;
        height: 530px;
    }
    .about__info {
        margin-top: 20px;
        width: 100%;
        font-size: 25px;
        span {
            font-size: 25px;
        }
    }
    .about__info-title {
        font-size: 40px;
    }
}
@media (max-width: 1023px) {
    .location__map-box {
        display: none;
    }
}
@media (max-width: 912px) {
    .about__album {
        max-width: 755px;
    }
    .about__album-item {
        max-width: 738px;
        height: 425px;
    }
}
@media (max-width: 767px) {
    .slider__inner-background {
        bottom: -175px;
    }
    .thumbs {
        display: none;
    }
    .about__album {
        margin-left: 0;
        max-width: 100%;
    }
    .about__album-item {
        max-width: 100%;
        height: 330px;
    }
    .about__info-title {
        font-size: 38px;
    }
    .about__info {
        font-size: 20px;
        span {
            font-size: 20px;
        }
    }
    .page-box {
        height: auto;
    }
}
@media (max-width: 624px) {
    .contacts__inner-list li {
        font-size: 25px;
    }
}
@media (max-width: 600px) {
    .about__album-item {
        height: 330px;
    }
    .contacts__inner-list span {
        display: block;
        margin-bottom: 10px;
    }
    .contacts__inner-list li a {
        display: block;
        margin: 10px 0 0 0px;
        & + a {
            margin-left: 0px;
        }
    }
    #wrapMap {
        iframe {
            height: 400px !important;
        }
    }
}
@media (max-width: 551px) {
    .road__item-title {
        font-size: 25px;
    }
    .road__subtitle {
        font-size: 20px;
    }
    .road__item-text {
        font-size: 18px;
    }
    .icon-car,
    .icon-bus {
        font-size: 25px;
        padding-left: 10px;
    }
}
@media (max-width: 540px) {
    .header__menu {
        display: none;
    }
    .menu__list {
        display: none;
        position: absolute;
        z-index: 10000;
        background-color: $black;
        top: 69px;
        left: 0;
        right: 0;
        width: 100%;
        border-bottom: 5px solid $orange;
        padding-left: 0;
        a {
            padding: 17px 0 17px 11px;
            font-weight: 400;
            display: block;
        }
        li {
            display: block;
            text-align: center;
            & + li {
                margin-left: 0px;
                border-top: 1px solid $orange;
            }
        }
    }

    .header__menu-btn {
        position: absolute;
        display: block;
        right: 20px;
        .header__menu-row {
            transition: all cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.4s;
        }
    }
    .menu__btn-active {
        .header__menu-row {
            background-color: $orange;
            margin-bottom: -4px;
            transform: rotate(45deg);
            transition: all 0.5s;
        }
        .down-row {
            transform: rotate(-45deg);
        }
        .header__menu-remove {
            display: none;
        }
    }
    .header__inner a:hover {
        color: #fff;
    }
}
@media (max-width: 500px) {
    .slider__background-title {
        font-size: 35px;
    }
    .road__inner {
        flex-wrap: wrap;
    }
    .road__item-title {
        font-size: 30px;
    }
    .road__subtitle {
        font-size: 25px;
    }
    .road__item-text {
        font-size: 20px;
    }
    .road__item + .road__item {
        margin-left: 0;
        margin-top: 20px;
    }
    // .icon-car,
    // .icon-bus {
    //     display: block;
    //     padding-left: 0px;
    //     text-align: center;
    //     padding-top: 7px;
    // }
}
@media (max-width: 400px) {
    .slider__background-title {
        font-size: 30px;
    }
    .about {
        padding: 20px 0;
    }
    .about__album-item {
        height: 200px;
    }
    .about__info-title {
        font-size: 35px;
    }
    .about__info {
        margin-top: 0px;
        font-size: 18px;
        span {
            font-size: 18px;
        }
    }
    .contacts__inner-title,
    .road__title {
        font-size: 48px;
    }
    .contacts__inner-subtitle {
        font-size: 30px;
    }
}
@media (max-width: 368px) {
    .slider__bottom-text {
        bottom: -20px;
    }
    .slider__background-title {
        font-size: 25px;
    }
    .promo__slider-wrapper,
    .slider__item {
        min-height: 600px;
    }
    .about__info-title {
        font-size: 32px;
    }
    .whatsApp {
        right: 0.5em;
        a img {
            height: 50px;
            width: 50px;
        }
    }
}
@media (max-width: 306px) {
    .slider__background-title {
        margin-bottom: 0px;
        font-size: 35px;
    }
    .slider__inner-background {
        bottom: -200px;
    }
}
