$blue: #00509d;
$orange: #fdc500;
$text: #333333;
$orangeTwo: #ffd500;

@mixin vibes {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 32px;
}
@mixin oswald {
    font-family: "Oswald", sans-serif;
}
@mixin source {
    font-family: 'Source Sans Pro', sans-serif;
    
}