$noir: #422C16;
$orange: #E08C36;
$black: #190F0B;
$russet: #834517;
$pink: #FCDCBA;
@mixin vibes {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 32px;
}
@mixin oswald {
    font-family: "Oswald", sans-serif;
}
@mixin source {
    font-family: 'Source Sans Pro', sans-serif;
    
}